<%-include('header')%>
<style>

</style>
<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Our Amazing Properties</h1>
              <span class="color-text-a">Grid Properties</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/user">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Properties Grid
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="d-flex  mx-3 border border-success p-3 rounded-pill  my-5">
          <form class="w-100" action="/user/filters" method="post">
              <div class="d-flex w-100 justify-content-between">
                  <select name="city" class="custom-select rounded-pill form-control mx-2">
                      <option hidden >select city</option>
                      <%var citi= cities%>
                      <% citi.forEach((s , j )=>{ %>
                          <option value="<%=s.city%>">
                              <%= s.city %>
                          </option>
                          <% }) %>
                      </select>
                      
              <select name="house_type" class="custom-select rounded-pill mx-3 form-control">
                  <option hidden >select house</option>
                  <option value="farm">farm</option>
                  <option value="shop">shop</option>
                  <option value="bungalow">bungalow</option>
                  <option value="office">office</option>
                  <option value="industrial">industrial</option>
                  <option value="openplot">open plot</option>
                  <option value="flat">flat</option>
                  <option value="rowhouse">row house</option>
              </select>
              <select name="category" class="custom-select rounded-pill mx-3 form-control">
                  <option value="rent">Rent</option>
                  <option value="sell">Buy</option>
              </select>
              <button type="submit " class="btn btn-success rounded-pill">search</button>
          </div>
              
          </form>
      </div>
      </div>
    </section><!-- End Intro Single-->

   
    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
        
          <%for(var i of data){%>
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="<%=i.property_image[0]%>" style="height:500px !important" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="#"><%=i.projectName%></a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a py-3"> ₹ <%=i.price%> </span>
                    </div>
                    <a href="/user/singleProperty/<%=i.id%>" class="link-a">Click here 
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%}%>
        </div>
       
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->
<%-include('footer')%>