<%-include('header')%>
<main>
  <section>
      <div style="" class="container my-5 py-5 align-items-center d-flex flex-wrap">
        <div class="text-center col-12 d-flex flex-column align-items-center justify-content-center">
          <h1 class="text-theme-blue" style="font-size: 3vw; font-weight: 700">
            Buy, Sell, and rent in Real Estate with Trusted <br> Agents and <span class="text-theme-red">Listings</span>
          </h1>
          <p class="col-xl-8 my-5" style="font-size: 16px;">Find the latest lands for sale in Ghana. When you buy land
            from At Sundance Ghana Estates, you receive your land title deeds within 24 hours of full payment.</p>

          <div id="tabs">
            <ul class="nav nav-tabs" id="user-nav-tabs">
              <li role="presentation" class="active"  style="border-top-left-radius: 8px;"><a href="#c1"
                  class="p-3 px-4 d-block border border-bottom-0 tab-bt" style="border-top-left-radius: 7.5px;">Buy</a>
                </li>
              <li role="presentation"><a href="#c2" class="p-3 px-4 d-block border border-bottom-0 tab-bt">Rent</a></li>
              <li role="presentation"  style="border-top-right-radius: 8px;"><a href="#c3" class="p-3 px-4 d-block border border-bottom-0 tab-bt"
                style="border-top-right-radius: 7.5px;"   >Sale</a></li>
            </ul>
          </div>
          <div id="content" style="width: 70%;">
            <div id="content1">
              <form method="post" action="/user/mainfilter" class="tab-content">
                <input type="text" name="category" value="sell" hidden>
                <div id="tab1" class="content rounded-3" style="border: 1px solid #dee2e6;">
                  <div class="d-flex col-12 col-xl-12 flex-wrap">
                    <div class="col-xl-2 col-12">
                      <select name="" class="form-select col-xl-2 h-100 border-0 border-end text-theme-blue rounded-0" id="">
                        <option value="" hidden>select city</option>
                        <%for(var i of cities){%>
                        <option value="<%=i.city%>"><%=i.city%></option>
                        <%}%>
                      </select>
                    </div>
                    <div class="col-xl-8 px-5">
                      <input type="text" class="form-control my-2 px-3" name="search" placeholder="search">
                    </div>
                    <button type="submit"
                      class="theme-blue col-xl-2 col-12 py-3 text-white px-5 d-lg-block d-xl-block d-xxl-block d-none"
                      style="border-top-right-radius: 5px;"
                      >search</button>
                  </div>
                  <div
                    class="d-flex flex-wrap py-2 justify-content-center mx-xl-0 mx-3 align-items-center border-top border-grey border-bottom">
                    <p class="text-theme-blue mx-5">nearby locality :</p>

                    <div class="btn_check  d-flex col-12 col-xl-2  align-items-center">
                      <input type="checkbox" class="input" id="check1">
                      <label class="btn btn-default" for="check1">
                        Varacha 1
                      </label>
                    </div>
                    <div class="btn_check col-12  col-xl-2 d-flex align-items-center">
                      <input type="checkbox" class="input" id="check2">
                      <label class="btn btn-default" for="check2">
                        Varacha 2
                      </label>
                    </div>
                    <div class="btn_check col-12 col-xl-2  d-flex align-items-center">
                      <input type="checkbox" class="input" id="check3">
                      <label class="btn btn-default" for="check3">
                        Varacha 2
                      </label>
                    </div>
                    <!-- Add more similar sections for other checkboxes if needed -->
                  </div>
                  <div class="d-flex py-2 flex-wrap justify-content-center  mx-xl-5 px-xl-5 my-2 align-items-center">
                    <div class="d-flex align-items-center col-12 col-xl-2">
                      <input type="checkbox" name="house_type" class="ms-3 me-2" value="House">House
                    </div>
                    <div class="d-flex align-items-center justify-content-start  col-12 col-xl-2">
                      <input type="checkbox" name="house_type" class="ms-3 me-2" value="Industrial">industrial
                    </div>
                    <div class="d-flex align-items-center justify-content-start  col-12 col-xl-2">
                      <input type="checkbox" name="house_type" class="ms-3 me-2" value="Land/Plot">Land / Plot
                    </div>
                    <div class="d-flex align-items-center justify-content-start  col-12 col-xl-3">
                      <input type="checkbox" name="house_type" class="ms-3 me-2" value="Hotel/Resorts">Hotel / Resorts
                    </div>
                    <div class="d-flex align-items-center col-12 col-xl-2">
                      <input type="checkbox" name="house_type" class="ms-3 me-2" value="Flat">Flat &nbsp;&nbsp;
                    </div>
                    <div class="col-12 px-3 rounded-3">
                      <button type="submit"
                        class="theme-blue rounded-3 mt-2 mb-2 d-block d-lg-none d-xl-none d-xxl-none d-xxl-block col-xl-2 col-12 py-3 text-white px-5">search</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div id="content2">
              <form action="/user/mainfilter" method="post" class="tab-content">
                <input type="text" name="category" value="rent" hidden>
                <div id="tab1" class="content rounded-3" style="border: 1px solid #dee2e6;">
                  <div class="d-flex col-12 col-xl-12 flex-wrap">
                    <div class="col-xl-2 col-12">
                      
                      <select name="" class="form-select col-xl-2 h-100 border-0 border-end text-theme-blue rounded-0" id="">
                        <option value="" hidden>select city</option>
                        <%for(var i of cities){%>
                        <option value="<%=i.city%>"><%=i.city%></option>
                        <%}%>
                      </select>
                    </div>
                    <div class="col-xl-8 px-5">
                      <input type="text" class="form-control my-2 px-5">
                    </div>
                    <button type="submit"
                      class="theme-blue col-xl-2 col-12 py-3 text-white px-5 d-lg-block d-xl-block d-xxl-block d-none"
                      style="border-top-right-radius: 5px;"
                      >search</button>
                  </div>
                  <div
                    class="d-flex flex-wrap py-2 justify-content-center mx-xl-0 mx-3 align-items-center border-top border-grey border-bottom">
                    <p class="text-theme-blue mx-5">nearby locality :</p>

                    <div class="btn_check  d-flex col-12 col-xl-2  align-items-center">
                      <input type="checkbox" class="input" id="check1">
                      <label class="btn btn-default" for="check1">
                        Varacha 1
                      </label>
                    </div>
                    <div class="btn_check col-12  col-xl-2 d-flex align-items-center">
                      <input type="checkbox" class="input" id="check2">
                      <label class="btn btn-default" for="check2">
                        Varacha 2
                      </label>
                    </div>
                    <div class="btn_check col-12 col-xl-2  d-flex align-items-center">
                      <input type="checkbox" class="input" id="check3">
                      <label class="btn btn-default" for="check3">
                        Varacha 2
                      </label>
                    </div>
                    <!-- Add more similar sections for other checkboxes if needed -->
                  </div>
                  <div class="d-flex py-2 flex-wrap justify-content-center  mx-xl-5 px-xl-5 my-2 align-items-center">
                    <div class="d-flex align-items-center col-12 col-xl-2">
                      <input type="checkbox" name="house_type" class="ms-3 me-2" value="House">House
                    </div>
                    <div class="d-flex align-items-center justify-content-start  col-12 col-xl-2">
                      <input type="checkbox" name="house_type" class="ms-3 me-2" value="Industrial">industrial
                    </div>
                    <div class="d-flex align-items-center justify-content-start  col-12 col-xl-2">
                      <input type="checkbox" name="house_type" class="ms-3 me-2" value="Land/Plot">Land / Plot
                    </div>
                    <div class="d-flex align-items-center justify-content-start  col-12 col-xl-3">
                      <input type="checkbox" name="house_type" class="ms-3 me-2" value="Hotel/Resorts">Hotel / Resorts
                    </div>
                    <div class="d-flex align-items-center col-12 col-xl-2">
                      <input type="checkbox" name="house_type" class="ms-3 me-2" value="Flat">Flat &nbsp;&nbsp;
                    </div>
                    <div class="col-12 px-3 rounded-3">
                      <button type="submit"
                        class="theme-blue rounded-3 mt-2 mb-2 d-block d-lg-none d-xl-none d-xxl-none d-xxl-block col-xl-2 col-12 py-3 text-white px-5">search</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div id="content3">
              <div class="tab-content">
                <div id="tab1" class="content rounded-3 align-items-center py-3 d-flex justify-content-center" style="border: 1px solid #dee2e6; height: 170px;">
                <div>

                  <a href="/user/sellpage" style="padding:6px 6px; width: fit-content; "
                  class="mx-lg-3 ps-3 d-block rounded-pill theme-blue text-white rounded-3">POST PROPERTY FREE
                  &nbsp;&nbsp;&nbsp;<i
                  class="fa-solid bg-white p-2 rounded-circle fa-cloud-arrow-up text-theme-blue"></i></a>
                </div>
                </div>
               
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container my-5 d-flex flex-wrap">
        <div class="col-xl-6 col-12 d-flex flex-wrap">
          <img src="/img/Group 28.png" width="100%" alt="">
        </div>
        <div class="col-xl-6 ps-lg-5 py-5 d-flex flex-column align-items-center justify-content-center">
          <div>
            <h5 class="text-theme-red fs-4 fw-bold mb-4">ABOUT SUNDANCE GHANA ESTATES</h5>
            <h2 class="text-theme-blue fs-1 fw-bold">Trusted Premier Real Estate Company In Ghana</h2>
            <p class="my-4">Sundance Ghana Estates is a real estate company as to registered Ghana. We have lands for
              sale throughout
              Ghana, including Accra, Kumasi,</p>
            <ul class="list-unstyled flex-column d-flex">
              <li>
                <i class="fa-solid fa-circle-check text-theme-blue me-2"></i> Title deeds emailed within 24 hours
              </li>
              <li>
                <i class="fa-solid fa-circle-check text-theme-blue me-2"></i> Flexible payment plans
              </li>
              <li>
                <i class="fa-solid fa-circle-check text-theme-blue me-2"></i> Residential & farmlands for sale
              </li>
              <li>
                <i class="fa-solid fa-circle-check text-theme-blue me-2"></i> Plots available all over Ghana
              </li>
              <li>
                <i class="fa-solid fa-circle-check text-theme-blue me-2"></i> Prices start at $2,000 per plot
              </li>
            </ul>
            <a href="#" class="theme-blue mt-4 rounded-pill ps-4 text-white d-block" style="width: fit-content;">about
              us <i class="fa-solid bg-white text-theme-blue rounded-pill m-2 p-2 fa-angles-right"></i></a>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5" style="background-color:RGBA(0, 108, 181, 0.1);">
      <div class="d-flex flex-column align-items-center">
        <h5 class="text-theme-red fs-4 fw-normal">Properties</h5>
        <h2 class="text-theme-blue fs-1 fw-bold">Our Features Properties</h2>
      </div>
      <div class="my-5 px-xl-5 container d-flex flex-wrap justify-content-between">
        <div class="px-3 d-flex mt-2 justify-content-center col-xl-4">
          <div class="card">
            <img src="/img/299e5d2ee3e877e93fc03c651ad7c107.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-theme-blue fw-bold">Card title</h5>
              <h4 class="text-theme-red fw-bold">15,13,000</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <div class="d-flex my-4 mx-3 justify-content-between">
                <div class="flex-column align-items-center d-flex">
                  <span>
                    3 <i class="fa-solid fa-sink"></i>
                  </span>
                  bathrooms
                </div>
                <div class="bg-dark" style="width: 1px;"></div>
                <div class="flex-column align-items-center d-flex">
                  <span>
                    3 <i class="fa-solid fa-bed"></i></i>
                  </span>
                  bedrooms
                </div>
                <div class="bg-dark" style="width: 1px;"></div>
                <div class="flex-column align-items-center d-flex">
                  <span>
                    3 <i class="fa-solid fa-hotel"></i></i>
                  </span>
                  facalities
                </div>
              </div>
              <a href="#" class="theme-blue mt-4 rounded-pill ps-4 text-white d-block"
                style="width: fit-content;">explore <i
                  class="fa-solid bg-white text-theme-blue rounded-pill m-2 p-2 fa-angles-right"></i></a>

            </div>
          </div>
        </div>
        <div class="px-3 d-flex mt-2 justify-content-center col-xl-4">
          <div class="card">
            <img src="/img/5e86b64fa8a81916ada5538903cc05d6.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-theme-blue fw-bold">Card title</h5>
              <h4 class="text-theme-red fw-bold">15,13,000</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <div class="d-flex my-4 mx-3 justify-content-between">
                <div class="flex-column align-items-center d-flex">
                  <span>
                    3 <i class="fa-solid fa-sink"></i>
                  </span>
                  bathrooms
                </div>
                <div class="bg-dark" style="width: 1px;"></div>
                <div class="flex-column align-items-center d-flex">
                  <span>
                    3 <i class="fa-solid fa-bed"></i></i>
                  </span>
                  bedrooms
                </div>
                <div class="bg-dark" style="width: 1px;"></div>
                <div class="flex-column align-items-center d-flex">
                  <span>
                    3 <i class="fa-solid fa-hotel"></i></i>
                  </span>
                  facalities
                </div>
              </div>
              <a href="#" class="theme-blue mt-4 rounded-pill ps-4 text-white d-block"
                style="width: fit-content;">explore <i
                  class="fa-solid bg-white text-theme-blue rounded-pill m-2 p-2 fa-angles-right"></i></a>

            </div>
          </div>
        </div>
        <div class="px-3 d-flex mt-2 justify-content-center col-xl-4">
          <div class="card">
            <img src="/img/299e5d2ee3e877e93fc03c651ad7c107.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-theme-blue fw-bold">Card title</h5>
              <h4 class="text-theme-red fw-bold">15,13,000</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <div class="d-flex my-4 mx-3 justify-content-between">
                <div class="flex-column align-items-center d-flex">
                  <span>
                    3 <i class="fa-solid fa-sink"></i>
                  </span>
                  bathrooms
                </div>
                <div class="bg-dark" style="width: 1px;"></div>
                <div class="flex-column align-items-center d-flex">
                  <span>
                    3 <i class="fa-solid fa-bed"></i></i>
                  </span>
                  bedrooms
                </div>
                <div class="bg-dark" style="width: 1px;"></div>
                <div class="flex-column align-items-center d-flex">
                  <span>
                    3 <i class="fa-solid fa-hotel"></i></i>
                  </span>
                  facalities
                </div>
              </div>
              <a href="#" class="theme-blue mt-4 rounded-pill ps-4 text-white d-block"
                style="width: fit-content;">explore <i
                  class="fa-solid bg-white text-theme-blue rounded-pill m-2 p-2 fa-angles-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container d-flex flex-wrap py-5 my-5">
        <div class="col-xl-6 px-3">
          <img src="/img/Group 1192.png" width="100%" alt="">
        </div>
        <div class="col-xl-6 my-4 px-3 d-flex flex-column justify-content-center">
          <h2 class="text-theme-blue fs-1 fw-bold">We Specialize In Quality<br> Home Revovations</h2>
          <p class="my-4">Looking to renovate your home to reflect your style and personality? Look no further than our
            team of
            experts who specialize in quality home renovations to transform your space into a dream home you'll love.
            From design to execution, we'll work with you every step of the way to create a custom solution that exceeds
            your expectations.</p>
          <ul class="list-unstyled flex-column d-flex text-theme-blue">
            <li>
              <i class="fa-solid fa-circle-check text-theme-blue me-2"></i>Outstanding property
            </li>
            <li>
              <i class="fa-solid fa-circle-check text-theme-blue me-2"></i>Professional and experience human resources
            </li>
            <li>
              <i class="fa-solid fa-circle-check text-theme-blue me-2"></i>Provide the best services for users
            </li>
            <li>
              <i class="fa-solid fa-circle-check text-theme-blue me-2"></i>Modern city and exceptional
              lifestyle
            </li>
          </ul>
          <div class="d-flex flex-wrap mt-3">
            <div class="">
              <div>
                <i class="fa-solid theme-blue rounded-circle mt-2 fa-home text-white ms-0 p-2"
                  style="font-size: 8px;"></i>
                Smart Home Design
              </div>
              <div>
                <i class="fa-solid theme-blue rounded-circle mt-2 fa-bed text-white p-2" style="font-size: 7px;"></i>
                Beautiful Scene Around
              </div>
            </div>
            <divb class="px-lg-4">
              <div>
                <i class="fa-solid theme-blue rounded-circle mt-2 fa-clock text-white ms-0 p-2"
                  style="font-size: 8px;"></i>
                Complete 24/7 Security
              </div>
              <div>
                <i class="fa-solid theme-blue rounded-circle mt-2 fa-lightbulb text-white"
                  style="font-size: 9px;padding: 8px 9px;"></i>
                Exceptional Lifestyle
              </div>
            </divb>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="d-flex align-items-center my-5 flex-column">
        <h5 class="text-theme-red fw-normal fs-4">Our Category</h5>
        <h2 class="text-theme-blue fw-bold fs-1">Properties by category</h2>
      </div>
      <div class="container">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1320 700">
          <image width="1320" height="700" xlink:href="/img/Group 1194.png"></image> <a xlink:href="#">
            <rect x="8" y="8" fill="#fff" opacity="0" width="606" height="325"></rect>
          </a><a xlink:href="#">
            <rect x="646" y="5" fill="#fff" opacity="0" width="316" height="326"></rect>
          </a><a xlink:href="#">
            <rect x="996" y="7" fill="#fff" opacity="0" width="317" height="325"></rect>
          </a><a xlink:href="#">
            <rect x="8" y="368" fill="#fff" opacity="0" width="316" height="324"></rect>
          </a><a xlink:href="#">
            <rect x="359" y="368" fill="#fff" opacity="0" width="314" height="325"></rect>
          </a><a xlink:href="#">
            <rect x="711" y="368" fill="#fff" opacity="0" width="602" height="323"></rect>
          </a>
        </svg>
      </div>
    </section>
  
    <section>
      <div class="container my-5 d-flex flex-wrap">
        <div class="col-xl-6 d-flex flex-column justify-content-center">
          <h5 class="text-theme-red fs-4 fw-normal">Contact Us</h5>
          <h2 class="fs-1 mt-2 text-theme-blue fw-bold">We're Providing the Best
            Real Estate Services</h2>
          <p class="my-4">Make a type specimen book. It has survived not only five centuries,<br> but also the leap
            into.</p>
          <div class="d-flex">
            <div class="d-flex">
              <div>
                <i class="fa-solid theme-blue text-white p-2 rounded-circle fa-phone"></i>
              </div>
              <div class="ms-3">
                <h6 class="text-theme-blue">Our Hot Line</h6>
                <h6>+91 15788 55895</h6>
              </div>
            </div>
            <div class="theme-blue mx-lg-5 d-none d-lg-block mx-2" style="width: 2px;"></div>
            <div class="d-flex ms-lg-0 ms-3">
              <div>
                <i class="fa-solid theme-blue text-white p-2 rounded-circle fa-envelope"></i>
              </div>
              <div class="ms-3">
                <h6 class="text-theme-blue">Mail Us</h6>
                <h6>+91 15786 55895</h6>
              </div>
            </div>
          </div>
          <a href="#" class="theme-blue mt-5 rounded-pill ps-4 text-white d-lock" style="width: fit-content;">contact with us<i class="fa-solid bg-white text-theme-blue rounded-pill m-2 p-2 fa-angles-right"></i></a>
        </div>
        <div class="col-xl-6 my-3">
          <img src="/img/Group 1204.png" width="100%">
        </div>
      </div>
    </section>

    <section>
      <div class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                    <ol class="carousel-indicators tabs">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                            <figure>
                                <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-01-179x179.png" class="img-fluid" alt="">
                            </figure>
                        </li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1">
                            <figure>
                                <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-02-306x306.png" class="img-fluid" alt="">
                            </figure>
                        </li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2">
                            <figure>
                                <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-03-179x179.png" class="img-fluid" alt="">
                            </figure>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div id="carouselExampleIndicators" data-interval="false" class="carousel slide" data-ride="carousel">
                        <h3 class="fs-5 text-theme-red">OUR CLIENTS SAY</h3>
                        <h1 class="fs-1 text-theme-blue">Testimonial</h1>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="quote-wrapper">
                                    <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                    <h3>peter lee</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="quote-wrapper">
                                    <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                    <h3>pe</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="quote-wrapper">
                                    <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                    <h3>peter </h3>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

  </main>
<%-include('footer')%>
