<%-include('header')%>

  <!-- <div class="container py-5">
  <h1 class="my-5">Property Form</h1>

  <% if (messages.success) { %>
  <div class="alert my-2 alert-success"><%= messages.success %></div>
  <% } %>

  <form
    action="/user/propertyDetails"
    method="post"
    class="needs-validation my-2 p-3 rounded-2 shadow-lg"
    enctype="multipart/form-data"
  >
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationTooltip01">project name</label>
        <input
          type="text"
          name="projectName"
          class="form-control"
          id="validationTooltip01"
          required
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltip02">city</label>
        <select required name="city" class="form-control">
          <option hidden>select city</option>
          <%var citi= cities%> <% citi.forEach((s , j )=>{ %>
          <option value="<%=s.city%>"><%= s.city %></option>
          <% }) %>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltipUsername">price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="validationTooltipUsernamePrepend"
              >₹</span
            >
          </div>
          <input
            type="number"
            name="price"
            maxlength="10000000"
            class="form-control"
            id="validationTooltipUsername"
            aria-describedby="validationTooltipUsernamePrepend"
            required
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationTooltip03">Address</label>
        <input
          type="text"
          name="address"
          class="form-control"
          id="validationTooltip03"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip04">property Life</label>
       <select name="propertyLife" class="form-control" id="">
        <option value="" hidden>select propertyLife</option>
        <option value='Less than 1 year' >Less than 1 year</option>
        <option value='Less than 3 year' >Less than 3 year</option>
        <option value='Less than 5 year' >Less than 5 year</option>
        <option value='Less than 10 year' >Less than 10 year</option>
        <option value='More than 10 year' >More than 10 year</option>
       </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">property image</label>
        <input
          type="file"
          multiple
          name="property_image"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">size</label>
        <input
          type="text"
          name="size"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">carpet area</label>
        <input
          type="text"
          name="carpet_area"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">super built up</label>
        <input
          type="text"
          name="super_built_up"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">project area</label>
        <input
          type="text"
          name="project_area"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">booking amount</label>
        <input
          type="number"
          name="booking_amount"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">furnishing</label>
       <select name="furnishing" class="form-control" id="">
        <option value="Unfurnished">Unfurnished</option>
        <option value="Semi Furnished">Semi Furnished</option>
        <option value="Fully Furnished">Fully Furnished</option>
       </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">property floor</label>
        <input
          type="number"
          name="property_floor"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">landmark</label>
        <input
          type="text"
          name="landmark"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationTooltip03">builder details</label>
        <input
          type="text"
          class="form-control"
          id="validationTooltip03"
          name="builder_details"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationTooltip03">owner info</label>
        <input
          type="text"
          class="form-control"
          id="validationTooltip03"
          name="owner_info"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">location</label>
        <input
          type="text"
          name="location"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">scale type</label>
        <input
          type="text"
          name="scale_type"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">disclaimer</label>
        <input
          type="text"
          name="disclaimer"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">category</label>
        <select required class="form-control" name="category" id="">
          <option value="" hidden>select category</option>
          <option value="rent">For Rent</option>
          <option value="sell">For Sell</option>
        </select>
      </div>
     
      
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">house type</label>
        
        <select required onchange="updateResidentOptions()" id="housetype" name="house_type" class="form-control">
          <option hidden>select house</option>
          <option value="FarmHouse">FarmHouse</option>
          <option value="Commercial">Commercial</option>
          <option value="Industrial">Industrial</option>
          <option value="Flat">Flat</option>
          <option value="Land/Plot">Land/Plot</option>
          <option value="House">House</option>
          <option value="Hotel/Resorts">Hotel/Resorts</option>
        </select>
      </div>
     
      <div class="col-md-3 mb-3" id="residents">
        <label for="validationTooltip05">Resident type</label>
        <select required class="form-control" name="residentType" id="resident">
        </select>
      </div>
     
     
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">rooms</label>
        <select required name="rooms" class="form-control" required id="">
          <option value="" hidden>select rooms</option>
          <option value="1BHK">1 BHK</option>
          <option value="2BHK">2 BHK</option>
          <option value="3BHK">3 BHK</option>
          <option value="4BHK">4 BHK</option>
          <option value="5BHK">5 BHK</option>
          <option value="6BHK">6 BHK</option>
          <option value="7BHK">7 BHK and more</option>
        </select>
      </div>
   
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">sale type</label>
        <select required name="saletype" class="form-control" required id="">
          <option value="" hidden>select sale type</option>
          <option value="New Properties">New Properties</option>
          <option value="Resale Properties">Resale Properties</option>
        </select>
      </div>
    
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">possession</label>
        <select required name="possession" class="form-control" required id="">
          <option value="" hidden>select possession</option>
          <option value="Ready to Move">Ready to Move</option>
          <option value="In 1 Year">In 1 Year</option>
          <option value="In 3 Years">In 3 Years</option>
          <option value="Beyond 3 Years">Beyond 3 Years</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">facing</label>
        <select required name="facing" class="form-control" required id="">
          <option value="" hidden>select facing</option>
          <option value="North">North</option>
          <option value="East">East</option>
          <option value="West">West</option>
          <option value="South">South</option>
          <option value="North-East">North-East</option>
          <option value="North-West">North-West</option>
          <option value="South-East">South-East</option>
          <option value="South-West">South-West</option>   
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">bathroom</label>
        <select required name="bathroom" class="form-control" required id="">
          <option value="" hidden>select bathroom</option>
          <option value="1">1 bathroom</option>   
          <option value="2">2 bathroom</option>   
          <option value="3">3 bathroom</option>   
          <option value="4">4 bathroom</option>   
          <option value="5">5 bathroom</option>   
          <option value="6">6 bathroom</option>   
          <option value="7">7 bathroom</option>   
          <option value="8">8 bathroom</option>   
          <option value="9">9 bathroom</option>   
          <option value="10">10 bathroom</option>   
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">listed by</label>
        <select required name="listedby" class="form-control" required id="">
          <option value="" hidden>select listed by</option>   
          <option value="Agent">Agent</option>   
          <option value="Owner">Owner</option>   
        </select>
      </div>
     
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">least type</label>
        <select required name="leasttype" class="form-control" required id="">
          <option value="" hidden>select least type</option>   
          <option value="Family">Family</option>   
          <option value="Company">Company</option>   
          <option value="Bachelor">Bachelor</option>   
        </select>
      </div>
    
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">available</label>
        <select required name="available" class="form-control" required id="">
          <option value="" hidden>select available</option>   
          <option value="Within a week">Within a week</option>      
          <option value="Within 15 days">Within 15 days</option>      
          <option value="Within a month">Within a month</option>      
          <option value="After a month">After a month</option>      
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">powerbackup</label>
        <select required name="powerbackup" class="form-control" required id="">
          <option value="" hidden>select powerbackup</option>   
          <option value="Full" >Full</option>   
          <option value="Partial">Partial</option>   
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">pin code</label>
        <input type="text" class="form-control" placeholder="pin code" name="pincode">
      </div>



      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">facilities</label>
        <div class="d-flex">
          <input
            type="text"
            required
            disabled
            value="add facilities"
            class="form-control"
            id="validationTooltip05"
            required
          />
          <button
            type="button"
            onclick="addInput()"
            class="ms-2 d-inline-block btn btn-primary"
          >
            +
          </button>
        </div>
        <div id="input-cont">
          <!--Input container-->
  <!-- </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">built up area</label>
        <input
          type="text"
          name="built_up_area"
          class="form-control"
          id="validationTooltip05"
          required
        />
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div> -->
  <!-- <script>
  const container = document.getElementById("input-cont")

  // Call addInput() function on button click
  function addInput() {
    let inputs = document.createElement("input")
    inputs.placeholder = "Type something"
    inputs.className = "form-control my-1"
    inputs.name = "facilities"
    container.appendChild(inputs)
  }

  function validateNumberInput(input) {
    // Remove any non-digit characters from the input value
    var number = input.value.replace(/\D/g, "");

    // Update the input value with the cleaned number
    input.value = number;

    // Display validation message
    var validationMessage = document.getElementById("validationMessage")
    if (number === "") {
      validationMessage.textContent = ""
    } else {
      validationMessage.textContent = isNaN(number)
        ? "Invalid input. Only numbers are allowed."
        : "";
    }
  }

  function updateResidentOptions() {
  console.log(document.getElementById('housetype').value)
  if (document.getElementById('housetype').value === "Flat") {

    const residentSelect = document.getElementById('resident')
    residentSelect.innerHTML = '';
    const options = ["LowRise", "HighRise", "pentHouse"]
    options.forEach(option => {
      const optionElement = document.createElement('option')
      optionElement.value = option.toLowerCase().replace(/\s/g, '_')
      optionElement.textContent = option;
      residentSelect.appendChild(optionElement);
    });

  } else if (document.getElementById('housetype').value === "House") {

const residentSelect = document.getElementById('resident')
residentSelect.innerHTML = '';
const options = ["Gala Type", "Raw House", "Bungalow"]
options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

} else if (document.getElementById('housetype').value === "Commercial") {

const residentSelect = document.getElementById('resident');
residentSelect.innerHTML = '';
const options = ["Office", "Shop"];
options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

}
else if (document.getElementById('housetype').value === "Industrial") {

const residentSelect = document.getElementById('resident');
residentSelect.innerHTML = '';
const options = ["Godown/Warehouse","Building"];
options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

}
else if (document.getElementById('housetype').value === "FarmHouse") {

const residentSelect = document.getElementById('resident');
residentSelect.innerHTML = '';
const options = ["Farm","Villa"];
options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

}
else if (document.getElementById('housetype').value === "Land/Plot") {

const residentSelect = document.getElementById('resident');
residentSelect.innerHTML = '';
const options = [
      'Residential Plot',
      'Industrial Plot',
      'Farm House Plot',
      'Agriculture Land',
      'Residential Land',
      'Industrial Land',
      'Commercial Land',
    ];
    
options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

}
else if (document.getElementById('housetype').value === "Hotel/Resorts") {

const residentSelect = document.getElementById('resident');
residentSelect.innerHTML = '';
const options = [
    "1 Star",
    "2 Star",
    "3 Star",
    "4 Star",
    "5 Star",
    ];

options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

}
}


</script> -->

  <section class="sellform container">
    <div class="col-xl-10">
      <div class="">
        <form class="form d-flex">
          <div class="left-side px-5 rounded-3 shadow-lg">
            <div class="steps-content d-none">
              <h3>Step <span class="step-number">1</span></h3>
              <p class="step-number-content active">
                Enter your personal information to get closer to companies.
              </p>
              <p class="step-number-content d-none">
                Get to know better by adding your diploma,certificate and
                education life.
              </p>
              <p class="step-number-content d-none">
                Help companies get to know you better by telling then about your
                past experiences.
              </p>
              <p class="step-number-content d-none">
                Add your profile piccture and let companies find youy fast.
              </p>
            </div>
            <ul class="progress-bar py-2 bg-white">
              <li class="active">Personal Information</li>
              <li>Education</li>
              <li>Work Experience</li>
              <li>User Photo</li>
              <!-- <li>User Photo</li> -->
            </ul>
          </div>
          <div class="right-side">
            <div class="main ms-lg-5 active">
              <h1 class="fs-1 text-theme-blue fw-bold">Property Details</h1>
              <div class="input-text">
                <div class="input-div">
                  <p>Project Name</p>
                  <input type="text" name="projectName" required require placeholder="project name" />
                </div>
                <div class="input-div">
                  <p>City</p>
                  <select name="city">
                    <option hidden>Select City</option>
                    <%for(var i of cities){%>
                      <option value="<%=i.city%>"><%=i.city%></option>
                      <%}%>
                  </select>
                </div>
                <div class="input-div">
                  <p>Price</p>
                  <input type="text" name="price" required require />
                </div>
                <div class="input-div">
                  <p>Property Life</p>
                  <select name="propertyLife" required require class="px-2">
                    <option>Select property Life</option>
                    <option>1 year</option>
                    <option>2 year</option>  
                    <option>3 year</option>  
                    <option>4 year</option>  
                    <option>5 year</option>  
                    <option>More Than 5 year</option>  
                  </select>
                </div>
              </div>
              <div class="input-text">
                <div class="input-div">
                  <p>Address</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Size</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Booking Amount</p>
                  <input type="text" required require />
                </div>
              </div>
              <div class="input-text">
                <div class="input-div">
                  <p>Carpet Area</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Super Built Up</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Project Area</p>
                  <input type="text" required require />
                </div>
              </div>
              <div class="input-text">
                <div class="input-div">
                  <select>
                    <option>Select Country</option>
                    <option>India</option>
                    <option>France</option>
                    <option>UK</option>
                    <option>USA</option>
                    <option>Germany</option>
                    <option>Russia</option>
                    <option>China</option>
                    <option>Japan</option>
                    <option>Pakistan</option>
                  </select>
                </div>
                <div class="input-div">
                  <select>
                    <option>Select City</option>
                    <option>New Delhi</option>
                    <option>Paris</option>
                    <option>London</option>
                    <option>Washington D.C.</option>
                    <option>Berlin</option>
                    <option>Moscow</option>
                    <option>Bejing</option>
                    <option>Tokyo</option>
                    <option>Islamaba</option>
                  </select>
                </div>
              </div>
              <div class="buttons">
                <button class="next_button rounded-pill ps-3 fs-6 p-1 theme-blue" type="button">
                  next step
                  <i class="fa-solid ms-2 fa-angles-right p-2 bg-white text-theme-blue rounded-pill"></i>
                </button>
              </div>
            </div>
            <div class="main ms-lg-5">
              <h1 class="fs-1 fw-bold text-theme-blue">Property Details</h1>
              <div class="input-text">
                <div class="input-div">
                  <p>Furnishing</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Property Floor</p>
                  <input type="text" required />
                </div>
                <div class="input-div">
                  <p>Builder Details</p>
                  <input type="text" required />
                </div>
                <div class="input-div">
                  <p>Owner Info</p>
                  <input type="text" required />
                </div>
              </div>
              <div class="input-text">
                <div class="input-div">
                  <p>Location Link</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Scale Type</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Disclaimer</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Category</p>
                  <input type="text" required require />
                </div>
              </div>
              <div class="input-text">
                <div class="input-div">
                  <p>House Type</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Resident Type</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Rooms</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Sale Type</p>
                  <input type="text" required require />
                </div>
              </div>
            <div class="input-text">
                <div class="input-div">
                  <select>
                    <option>Select Course</option>
                    <option>BCA</option>
                    <option>B-TECH</option>
                    <option>BA</option>
                    <option>B-COM</option>
                    <option>B-SC</option>
                    <option>MBA</option>
                    <option>MCA</option>
                    <option>M-COM</option>
                    <option>M-TECH</option>
                  </select>
                </div>
              </div>
              <div class="buttons button_space">
                <button class="back_button fs-6 p-1 theme-blue text-white rounded-pill pe-3 border-0" type="button">
                  <i class="fa-solid rounded-circle me-2 fa-angles-left bg-white text-theme-blue p-2"></i>
                  Back Step
                </button>
                <button class="next_button p-1 fs-6 theme-blue text-white rounded-pill ps-3" type="button">
                  Next Step
                  <i class="fa-solid rounded-circle fa-angles-right bg-white text-theme-blue p-2"></i>
                </button>
              </div>
            </div>
            <div class="main ms-lg-5">
              <h1 class="fs-1 fw-bold text-theme-blue">Property Details</h1>
              <div class="input-text">
                <div class="input-div">
                  <p>Possesion</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Facing</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>Bathroom</p>
                  <input type="text" required require />
                </div>
                <div class="input-div">
                  <p>listed By</p>
                  <input type="text" required require />
                </div>
              </div>
              <div class="input-text">
                <div class="input-div">
                  <p>Least Type</p>
                  <input type="text" required />
                </div>
                <div class="input-div">
                  <p>Available</p>
                  <input type="text" required />
                </div>
                <div class="input-div">
                  <p>Power Backup</p>
                  <input type="text" required />
                </div>
                <div class="input-div">
                  <p>Pin Code</p>
                  <input type="text" required />
                </div>
              </div>
              <div class="input-text">
                <div class="input-div">
                  <p>Facilities</p>
                  <input type="text" required />
                </div>
                <div class="input-div">
                  <p>Position</p>
                  <input type="text" required />
                </div>
              </div>
              <div class="input-text">
                <div class="input-div">
                  <input type="text" required />
                </div>
                <div class="input-div">
                  <input type="text" required />
                </div>
              </div>
              <div class="buttons button_space">
                <button class="back_button fs-6 p-1 theme-blue text-white rounded-pill pe-3 border-0 p-1" type="button"><i
                    class="fa-solid fa-angles-left bg-white me-2 p-2 text-theme-blue rounded-pill"></i> Back Step</button>
                <button class="next_button fs-6 p-1 theme-blue text-white rounded-pill ps-3 border-0 p-1" type="button">Next
                  Step <i class="fa-solid fa-angles-right bg-white p-2 text-theme-blue rounded-pill"></i> </button>
              </div>
            </div>
            <div class="main">
              <div class="input-text">
                <div id="uploadBox" class="p-5" style="
                  border: 2px dashed #006bc5;
                  text-align: center;
                  line-height: 200px;
                  cursor: pointer;
                ">
                  Click to Upload Image
                </div>

                <input type="file" id="fileInput" style="display: none" />
              </div>
              <div class="buttons button_space">
                <button class="back_button fs-6  theme-blue p-1 pe-3 text-white border-0 rounded-pill" type="button">
                  <i class="fa-solid p-2 me-2 rounded-circle bg-white text-theme-blue fa-angles-left"></i>
                  Back
                </button>
                <button class="next_button">nbvn</button>
                <button class="submit_button theme-blue fs-6 p-1 ps-3 text-white border-0 rounded-pill" type="submit">Submit <i class="ms-2 fa-solid p-2 rounded-circle bg-white text-theme-blue fa-check"></i></button>
              </div>
            </div>
            <!-- <div class="main">
              <h1 class="fs-1 fw-bold text-theme-blue">Step 5</h1>
              Add your content for the fifth step here
          </div> -->
          
            <!-- <div class="main">
                     <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                         <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
                     
                    <div class="text congrats">
                        <h2>Congratulations!</h2>
                        <p>Thanks Mr./Mrs. <span class="shown_name"></span> your information have been submitted successfully for the future reference we will contact you soon.</p>
                    </div>
                </div> -->
          </div>
        </form>
      </div>
    </div>
  </section>

  <script>
    var next_click = document.querySelectorAll(".next_button");
    var main_form = document.querySelectorAll(".main");
    var step_list = document.querySelectorAll(".progress-bar li");
    var num = document.querySelector(".step-number");
    let formnumber = 0;

    next_click.forEach(function (next_click_form) {
      next_click_form.addEventListener("click", function () {
        if (!validateform()) {
          return false;
        }
        formnumber++;
        updateform();
        progress_forward();
        contentchange();
      });
    });

    var back_click = document.querySelectorAll(".back_button");
    back_click.forEach(function (back_click_form) {
      back_click_form.addEventListener("click", function () {
        formnumber--;
        updateform();
        progress_backward();
        contentchange();
      });
    });

    var username = document.querySelector("#user_name");
    var shownname = document.querySelector(".shown_name");

    var submit_click = document.querySelectorAll(".submit_button");
    submit_click.forEach(function (submit_click_form) {
      submit_click_form.addEventListener("click", function () {
        shownname.innerHTML = username.value;
        formnumber++;
        updateform();
      });
    });

    var heart = document.querySelector(".fa-heart");
    heart.addEventListener("click", function () {
      heart.classList.toggle("heart");
    });

    var share = document.querySelector(".fa-share-alt");
    share.addEventListener("click", function () {
      share.classList.toggle("share");
    });

    function updateform() {
      main_form.forEach(function (mainform_number) {
        mainform_number.classList.remove("active");
      });
      main_form[formnumber].classList.add("active");
    }

    function progress_forward() {
      // step_list.forEach(list => {

      //     list.classList.remove('active');

      // });

      num.innerHTML = formnumber + 1;
      step_list[formnumber].classList.add("active");
    }

    function progress_backward() {
      var form_num = formnumber + 1;
      step_list[form_num].classList.remove("active");
      num.innerHTML = form_num;
    }

    var step_num_content = document.querySelectorAll(".step-number-content");

    function contentchange() {
      step_num_content.forEach(function (content) {
        content.classList.remove("active");
        content.classList.add("d-none");
      });
      step_num_content[formnumber].classList.add("active");
    }

    function validateform() {
      validate = true;
      var validate_inputs = document.querySelectorAll(".main.active input");
      validate_inputs.forEach(function (vaildate_input) {
        vaildate_input.classList.remove("warning");
        if (vaildate_input.hasAttribute("require")) {
          if (vaildate_input.value.length == 0) {
            validate = false;
            vaildate_input.classList.add("warning");
          }
        }
      });
      return validate;
    }

    const uploadBox = document.getElementById("uploadBox");
    const fileInput = document.getElementById("fileInput");

    uploadBox.addEventListener("click", () => {
      fileInput.click();
    });

    fileInput.addEventListener("change", (event) => {
      const selectedFile = event.target.files[0];

      if (selectedFile) {
        const reader = new FileReader();

        reader.onload = (e) => {
          const uploadedImage = document.createElement("img");
          uploadedImage.src = e.target.result;
          uploadedImage.style.maxWidth = "100%";
          uploadedImage.style.maxHeight = "100%";

          uploadBox.innerHTML = "";
          uploadBox.appendChild(uploadedImage);
        };

        reader.readAsDataURL(selectedFile);
      }
    });
  </script>

  <%-include('footer')%>