<%-include('header')%>
<% if (messages.success) { %>                 
 <div class="container d-flex justify-content-center">
  <div class="alert my-2 alert-success">
    <%= messages.success %>
</div>
 </div>
  <% } %>
  <section class="sellform container">
    <div class="">
      <div class="">
        <form class="form d-flex flex-column align-items-center" method="post" action="/user/propertyDetails">
          <div class="text-center w-100">
            <h1 class="fs-1 fw-bold text-theme-blue mt-5">Property Details</h1>
          </div>
          <div class="col-lg-8 mt-4 d-flex justify-content-center flex-wrap">
            <div class="col-lg-5 p-2">
              <p class="mx-2">projectName</p>
              <input type="text" class=" m-2" required placeholder="projectName or soc name" name="projectName">
            </div> 
            <div class="col-5 p-2">
              <p class="mx-2">location</p>
              <input name="location" id="" class="border w-100 m-2 p-2 rounded-3" type="url" required placeholder="location link">
            </div>
            <div class="col-lg-5 p-2">
              <p class="mx-2">category</p>
              <select name="category" class="m-2" required>
                <option value="" hidden>select category</option>
                <option value="rent">for rent</option>
                <option value="sell">for sell</option>
                </select>
            </div> 
            <div class="col-lg-5 p-2">
              <p class="mx-2">Select House Type</p>
            <select class="m-2 w-100 border-1" required name="house_type">
              <option hidden>House Type</option>
          <option value="FarmHouse">FarmHouse</option>
          <option value="Commercial">Commercial</option>
          <option value="Industrial">Industrial</option>
          <option value="Flat">Flat</option>
          <option value="Land/Plot">Land/Plot</option>
          <option value="House">House</option>
          <option value="Hotel/Resorts">Hotel/Resorts</option>
            </select>
          </div> 
          <div class="col-lg-5 p-2">
            <p class="mx-2">select city</p>
            <select name="city" required class="m-2" id="">
              <option value="" hidden>city</option>
              <%for(var i of cities){%>
                <option value="<%=i.city%>"><%=i.city%></option>
                <%}%>
              </select>
            </div> 
            <div class="col-lg-5 p-2">
            <p class="mx-2">select rooms</p>
            <select required name="rooms" class="m-2" id="">
              <option value="" hidden>select rooms</option>
              <option value="1BHK">1 RK</option>
              <option value="1BHK">1 BHK</option>
              <option value="2BHK">2 BHK</option>
              <option value="3BHK">3+ BHK</option>
          </select>
            </div>    
            <div class="col-lg-10 text-center my-3 px-2">
              <button class="text-white theme-blue p-1 rounded-pill ps-3">submit Property <i class="rounded-circle p-2 fa-solid fa-check bg-white text-theme-blue"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <script>
    var next_click = document.querySelectorAll(".next_button");
    var main_form = document.querySelectorAll(".main");
    var step_list = document.querySelectorAll(".progress-bar li");
    var num = document.querySelector(".step-number");
    let formnumber = 0;

    next_click.forEach(function (next_click_form) {
      next_click_form.addEventListener("click", function () {
        if (!validateform()) {
          return false;
        }
        formnumber++;
        updateform();
        progress_forward();
        contentchange();
      })
    })

    var back_click = document.querySelectorAll(".back_button");
    back_click.forEach(function (back_click_form) {
      back_click_form.addEventListener("click", function () {
        formnumber--;
        updateform();
        progress_backward();
        contentchange();
      });
    });

    var username = document.querySelector("#user_name");
    var shownname = document.querySelector(".shown_name");

    var submit_click = document.querySelectorAll(".submit_button");
    submit_click.forEach(function (submit_click_form) {
      submit_click_form.addEventListener("click", function () {
        shownname.innerHTML = username.value;
        formnumber++;
        updateform()
      });
    });

    var heart = document.querySelector(".fa-heart");
    heart.addEventListener("click", function () {
      heart.classList.toggle("heart");
    });

    var share = document.querySelector(".fa-share-alt");
    share.addEventListener("click", function () {
      share.classList.toggle("share");
    });

    function updateform() {
      main_form.forEach(function (mainform_number) {
        mainform_number.classList.remove("active");
      });
      main_form[formnumber].classList.add("active");
    }

    function progress_forward() {
      // step_list.forEach(list => {

      //     list.classList.remove('active');

      // });

      num.innerHTML = formnumber + 1;
      step_list[formnumber].classList.add("active");
    }

    function progress_backward() {
      var form_num = formnumber + 1;
      step_list[form_num].classList.remove("active");
      num.innerHTML = form_num;
    }

    var step_num_content = document.querySelectorAll(".step-number-content");

    function contentchange() {
      step_num_content.forEach(function (content) {
        content.classList.remove("active");
        content.classList.add("d-none");
      });
      step_num_content[formnumber].classList.add("active");
    }

    function validateform() {
      validate = true;
      var validate_inputs = document.querySelectorAll(".main.active input");
      validate_inputs.forEach(function (vaildate_input) {
        vaildate_input.classList.remove("warning");
        if (vaildate_input.hasAttribute("require")) {
          if (vaildate_input.value.length == 0) {
            validate = false;
            vaildate_input.classList.add("warning");
          }
        }
      });
      return validate;
    }

    const uploadBox = document.getElementById("uploadBox");
    
    function image(){
      const fileInput = document.getElementById("fileInput");
      fileInput.click()
    }

    function updateResidentOptions() {
  console.log(document.getElementById('housetype').value)
  if (document.getElementById('housetype').value === "Flat") {

    const residentSelect = document.getElementById('resident')
    residentSelect.innerHTML = '';
    const options = ["LowRise", "HighRise", "pentHouse"]
    options.forEach(option => {
      const optionElement = document.createElement('option')
      optionElement.value = option.toLowerCase().replace(/\s/g, '_')
      optionElement.textContent = option;
      residentSelect.appendChild(optionElement);
    });

  } else if (document.getElementById('housetype').value === "House") {

const residentSelect = document.getElementById('resident')
residentSelect.innerHTML = '';
const options = ["Gala Type", "Raw House", "Bungalow"]
options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

} else if (document.getElementById('housetype').value === "Commercial") {

const residentSelect = document.getElementById('resident');
residentSelect.innerHTML = '';
const options = ["Office", "Shop"];
options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

}
else if (document.getElementById('housetype').value === "Industrial") {

const residentSelect = document.getElementById('resident');
residentSelect.innerHTML = '';
const options = ["Godown/Warehouse","Building"];
options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

}
else if (document.getElementById('housetype').value === "FarmHouse") {

const residentSelect = document.getElementById('resident');
residentSelect.innerHTML = '';
const options = ["Farm","Villa"]
options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

}
else if (document.getElementById('housetype').value === "Land/Plot") {

const residentSelect = document.getElementById('resident');
residentSelect.innerHTML = '';
const options = [
      'Residential Plot',
      'Industrial Plot',
      'Farm House Plot',
      'Agriculture Land',
      'Residential Land',
      'Industrial Land',
      'Commercial Land',
    ];
    
options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

}
else if (document.getElementById('housetype').value === "Hotel/Resorts") {

const residentSelect = document.getElementById('resident');
residentSelect.innerHTML = '';
const options = [
    "1 Star",
    "2 Star",
    "3 Star",
    "4 Star",
    "5 Star",
    ];

options.forEach(option => {
  const optionElement = document.createElement('option');
  optionElement.value = option.toLowerCase().replace(/\s/g, '_');
  optionElement.textContent = option;
  residentSelect.appendChild(optionElement);
});

}
}
  </script>

  <%-include('footer')%>