<%-include('header')%>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container py-5">
  <h1 class="my-5">Property Update Form</h1>

  <% if (messages.success) { %>                 
    <div class="alert my-2 alert-success">
        <%= messages.success %>
    </div>
    <% } %>

  <form action="/user/updateproperty" method="post" class="needs-validation my-2 p-3 rounded-2 shadow-lg" enctype="multipart/form-data">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationTooltip01">project name</label>
        <input type="text" name="projectName" value="<%=data.projectName%>" class="form-control" id="validationTooltip01" >
      </div>
      <input type="text" name="id" hidden value="<%=data.id%>">
      <div class="col-md-4 mb-3">
        <label for="validationTooltip02">city</label>
        <select  name="city" class="form-control">
          <option hidden >select city</option>
          <%var citi= cities%>
          <% citi.forEach((s , j )=>{ %>
              <option value="<%=s.city%>"  <% if(data.city==s.city){%>                  
                <%= "selected" %>
                <%}%>>
                <%= s.city %>
              </option>
              <% }) %>
          </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltipUsername">price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="validationTooltipUsernamePrepend">₹</span>
          </div>
          <input type="number"name='price' value="<%=data.price%>" maxlength="10000000" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" >
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationTooltip03">Address</label>
        <input type="text" name="address" value="<%=data.address%>" class="form-control" id="validationTooltip03">
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip04">property Life</label>
        <input type="text" name="propertyLife" value="<%=data.propertyLife%>" class="form-control" id="validationTooltip04" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">property image</label>
        <input type="file" multiple name="property_image" class="form-control" id="validationTooltip05" >
       
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">size</label>
        <input type="text" name="size" value="<%=data.size%>" class="form-control" id="validationTooltip05" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">carpet area</label>
        <input type="text" name="carpet_area" class="form-control" id="validationTooltip05" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">super built up</label>
        <input type="text" name="super_built_up" value="<%=data.super_built_up%>" class="form-control" id="validationTooltip05" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">project area</label>
        <input type="text" name="project_area" class="form-control" value="<%=data.project_area%>" id="validationTooltip05" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">booking amount</label>
        <input type="number" name="booking_amount" value="<%=data.booking_amount%>" class="form-control" id="validationTooltip05" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">furnishing</label>
        <input type="text" name="furnishing" class="form-control" value="<%=data.furnishing%>" id="validationTooltip05" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">property floor</label>
        <input type="text" name="property_floor" class="form-control" value="<%=data.property_floor%>" id="validationTooltip05" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">landmark</label>
        <input type="text" name="landmark" value="<%=data.landmark%>" class="form-control" id="validationTooltip05" >
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationTooltip03">builder details</label>
        <input type="text" class="form-control" value="<%=data.builder_details%>" id="validationTooltip03" name="builder_details" >
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationTooltip03">owner info</label>
        <input type="text" class="form-control" id="validationTooltip03" value="<%=data.owner_info%>" name="owner_info" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">location</label>
        <input type="text" name="location" class="form-control" value="<%=data.location%>" id="validationTooltip05" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">scale type</label>
        <input type="text" name="scale_type" class="form-control" value="<%=data.scale_type%>" id="validationTooltip05" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">disclaimer</label>
        <input type="text" name="disclaimer" value="<%=data.disclaimer%>" class="form-control" id="validationTooltip05" >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">category</label>
      <select  class="form-control" name="category" id="">
        <% if(data.category== 'rent') { %>
            <option value="rent" <%= "selected" %> >For Rent</option>
        <% } %>
        <% if(data.category== 'sell') { %>
            <option value="sell" <%= "selected" %>>For Sell</option>
        <% } %>
        <option value="" hidden>select category</option>
      </select> 
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">house type</label>
          
  <select  name="house_type" class="form-control">
    <%var housetype=['farm','shop','bungalow','office','industrial','open plot','flat','row house']%>
      <% housetype.forEach((v , i )=>{ %>

        <option value="<%= v %>" <% if(data.city==v.city) { %>
            <%= "selected" %>
                <% } %>><%= v %>
        </option>
        <% }); %>
      </select>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip05">rooms</label>
      <select name="rooms" class="form-control" id="">
        <option value="" hidden>select rooms</option>
        <% var rooms = ['1 BHK', '2 BHK', '3 BHK', '4 BHK', '5 BHK', '6 BHK', '7 BHK and more']; %>
        <% rooms.forEach((v, i) => { %>
          <option value="<%= v %>" <% if (data.rooms == v) { %>
            <%= "selected" %>
          <% } %>>
            <%= v %>
          </option>
        <% }); %>
      </select>
      
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">facilities</label>
       <div class="d-flex">
        <input type="text"  disabled value="add facilities" class="form-control" id="validationTooltip05" >
        <button onclick='addInput()' type="button" class="ms-2 d-inline-block btn btn-primary">+</button>
        
       </div><div id='input-cont'>
          <!--Input container-->
      </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">built up area</label>
        <input type="text" name="built_up_area" class="form-control" value="<%=data.built_up_area%>" id="validationTooltip05" >
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>

</div>

<script>
  const container = document.getElementById('input-cont');

  // Call addInput() function on button click
  function addInput(){
      let input = document.createElement('input');
      input.placeholder = 'Type something';
      input.className = 'form-control my-1';
      input.name = 'facilities';
      container.appendChild(input);
  }

  function validateNumberInput(input) {
  // Remove any non-digit characters from the input value
  var number = input.value.replace(/\D/g, '');

  // Update the input value with the cleaned number
  input.value = number;

  // Display validation message
  var validationMessage = document.getElementById('validationMessage');
  if (number === '') {
    validationMessage.textContent = '';
  } else {
    validationMessage.textContent = isNaN(number) ? 'Invalid input. Only numbers are allowed.' : '';
  }
}
</script>
<%-include('footer')%>



<main id="main">
  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">properties</h1>
            <span class="color-text-a"></span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/user">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="/user/property">Properties</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">single</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Single-->
  <!-- ======= Property Single ======= -->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div id="property-single-carousel" class="swiper">
            <div class="swiper-wrapper">
              <%var facilities= data.property_image %> <% facilities.forEach((s
              , j )=>{ %>
              <div class="carousel-item-b swiper-slide">
                <img src="<%=s%>" width="100%" height="550px" alt="" />
              </div>
              <% }) %>
            </div>
          </div>
          <div
            class="property-single-carousel-pagination carousel-pagination"
          ></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-4">
              <div class="property-price d-flex justify-content-center foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="bi bi-cash">₹</span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h5 class="title-c"><%=data.price%></h5>
                  </div>
                </div>
              </div>
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      <h3 class="title-d">Quick Summary</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      <strong>Property Name:</strong>
                      <span><%=data.projectName%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>city:</strong>
                      <span><%=data.city%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Location:</strong>
                      <span><%=data.address%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Property Type:</strong>
                      <span><%=data.house_type%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Status:</strong>
                      <span>for <%=data.category%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>size:</strong>
                      <span><%=data.size%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>carpet area:</strong>
                      <span><%=data.carpet_area%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>super built up:</strong>
                      <span><%=data.super_built_up%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>project area:</strong>
                      <span><%=data.project_area%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>booking amount:</strong>
                      <span><%=data.booking_amount%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>scale type:</strong>
                      <span><%=data.scale_type%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>property floor:</strong>
                      <span><%=data.property_floor%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>furnishing:</strong>
                      <span><%=data.furnishing%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>owner info:</strong>
                      <span><%=data.owner_info%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>builder info:</strong>
                      <span><%=data.builder_details%></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Rooms:</strong>
                      <span><%=data.rooms%></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Property Description</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a"><%=data.disclaimer%></p>
              </div>
              <div class="row section-t3">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Amenities</h3>
                  </div>
                </div>
              </div>
              <div class="amenities-list color-text-a">
                <ul class="list-a no-margin">
                  <%var facilities= data.facilities %> <% facilities.forEach((s
                  , j )=>{ %>
                  <li><%= s %></li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row section-t3">
            <div class="col-sm-12">
              <div class="title-box-d">
                <h3 class="title-d">Contact Agent</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <img src="/img/contactus.jpg" alt="" class="img-fluid" />
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="property-agent">
                <h4 class="title-agent">contact us</h4>
                <p class="color-text-a">
                  Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit
                  amet quam vehicula elementum sed sit amet dui. Quisque velit
                  nisi, pretium ut lacinia in, elementum id enim.
                </p>
                <ul class="list-unstyled">
                  <li class="d-flex justify-content-between">
                    <strong>Phone:</strong>
                    <span class="color-text-a">(222) 4568932</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Mobile:</strong>
                    <span class="color-text-a">777 287 378 737</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Email:</strong>
                    <span class="color-text-a">annabella@example.com</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Skype:</strong>
                    <span class="color-text-a">Annabela.ge</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="property-contact">
                <form
                  class="form-a"
                  action="/user/contact/<%=data.id%>"
                  method="post"
                >
                  <div class="row">
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control form-control-lg form-control-a"
                          name="name"
                          id="inputName"
                          placeholder="Name *"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input
                          type="number"
                          class="form-control form-control-lg form-control-a"
                          name="mobile"
                          id="inputEmail1"
                          placeholder="mobile *"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control form-control-lg form-control-a"
                          name="email"
                          id="inputEmail1"
                          placeholder="email address*"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control form-control-lg form-control-a"
                          name="address"
                          id="inputEmail1"
                          placeholder="address *"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <textarea
                          id="textMessage"
                          class="form-control"
                          placeholder="Comment *"
                          name="description"
                          required
                        ></textarea>
                      </div>
                      <div class="col-md-12 mt-3">
                        <button type="submit" class="btn btn-danger mb-5">
                          Send Message
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>